{% extends "views/layout.njk" %}

{% set theme_color = "#7952b3" %}
{% set body_class = "text-center" %}

{% block content %}
	<main class="form-signin">
		<form action="/login" method="POST">
			<input type="hidden" name="_csrf" value="{{ csrf }}" />

			<img class="mb-4" src="/public/img/bootstrap-logo.svg" alt="" width="72" height="57">
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

			{% include "views/__blocks/flash.njk" ignore missing %}

			<div class="form-floating">
				<input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="rememberme" value="enabled"> Remember me
				</label>
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
		</form>
	</main>
{% endblock %}
