<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	<link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
