{% extends "views/layout.njk" %}

{% block content %}
	<main class="frontpage">
		<h1> {{ title }} </h1>
		<p> Welcome to {{ title }} </p>

		<h2>session</h2>
		<p>{{ session | nl2br | safe }}</p>
		<h2>state</h2>
		<p>{{ state | nl2br | safe }}</p>
	</main>
{% endblock %}
