<!DOCTYPE html>
<html lang="hu">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<!-- Bootstrap CSS -->
	<link href="/public/dist/bundle.css" rel="stylesheet">
	{% if theme_color %}<meta name="theme-color" content="{{ theme_color }}">{% endif %}
</head>
<body class="{{ body_class }}">
	{% block content %}

	{% endblock %}
    <script src="/public/dist/bundle.js"></script>
</body>
</html>
