{# https://getbootstrap.com/docs/4.0/components/alerts/ #}

{% block flash %}
	{% if flash %}
		{% for item in flash %}
			<div class="alert alert-{{ item.type }}" role="alert">
				{{ item.message }}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
