// https://sass-lang.com/guide
// https://github.com/twbs/bootstrap/blob/main/scss/bootstrap.scss
//https://getbootstrap.com/docs/5.0/getting-started/webpack/
@import "~bootstrap/scss/bootstrap";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
