<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/public/images/favicon.png" />
	<!-- Bootstrap CSS -->
	<link href="/public/dist/bundle.css" rel="stylesheet">

	<title>{{ title }}</title>
</head>
<body>
	{% block content %}

	{% endblock %}
    <script src="/public/dist/bundle.js"></script>
</body>
</html>
