// https://sass-lang.com/guide
// https://github.com/twbs/bootstrap/blob/main/scss/bootstrap.scss
// https://getbootstrap.com/docs/5.0/getting-started/webpack/
// https://github.com/twbs/bootstrap/tree/main/site/content/docs/5.0/examples/sign-in
// https://getbootstrap.com/docs/5.0/examples/sign-in/

@import "~bootstrap/scss/bootstrap";

// body {
//   padding: 50px;
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
// }
// a {
//   color: #00B7FF;
// }

// Custom styles for this template
html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
