{% extends "../layout.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>This is the login page.</p>

	<h2>session</h2>
	<p>{{ session | nl2br | safe }}</p>

	<h2>CSRF token</h2>
	{% if flash.message %}
		<p class="flash {{ flash.type }}">{{ flash.message }}</p>
	{% endif %}
	<form action="/login" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
		<div>
			<label>Email:</label>
			<input type="text" name="email" />
		</div>
		<div>
			<label>Password:</label>
			<input type="password" name="password" />
		</div>
		<div>
			<input type="submit" value="Log In" />
		</div>
	</form>
{% endblock %}
